:root {
  --primaryColor: #222;
  --secondaryColor: #fff;
  --backgroundColor: rgb(107, 97, 97);
  --mainTitle: clamp(2.6rem, 4vw, 4rem);
  --secondaryTitle: clamp(1.6rem, 3vw, 2.8rem);
  --articleTitle: clamp(0.9rem, 2vw, 1.4rem);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--primaryColor);
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}
